@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}
:root {
  --primary:#7a3ff3;
  --body: #fffdfe;
  --color-text: #403a3a;

  --max-width: 1280px;
}



html,body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body);
  overflow-x: hidden;
  color: var(--color-text);
}
a, span, p{
  color: var(--color-text);
}

button,
.button {
  border: none;
  outline: none;
  display: inline-flex;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--body);
  gap: 10%;
  align-items: center;
  
  font-weight: 500;
  cursor: pointer;
  transition:  300ms ease-in;
}
button,
.button.light, .light{
  border: 1px solid var(--primary);
  background-color: var(--body);
  color: var(--primary); 
}
button:hover, .button:hover{
  filter: contrast(120%);
}

.container {
  width: 95vw;
  max-width: var(--max-width);
  position: relative;
  margin: 0 auto;
  height: 90%;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/* Width */
.w1 {
  width: 100%;
}
.w2 {
  width: calc(100% / 2);
}
.w3 {
  width: calc(100% / 3);
}
.w4 {
  width: calc(100% / 4);
}
.w5 {
  width: calc(100% / 5);
}

/* height */
.h1 {
  height: 100%;
}
.h2 {
  height: calc(100% / 2);
}
.h3 {
  height: calc(100% / 3);
}
.h4 {
  height: calc(100% / 4);
}
.h5 {
  height: calc(100% / 5);
}
/* Text */
.center {
  text-align: center;
}

/* Margem top */
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt4 {
  margin-top: 4rem;
}
.mt5 {
  margin-top: 5rem;
}
/* Margem bottom */
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mb5 {
  margin-bottom: 5rem;
}
/* Margem left */
.ml1 {
  margin-left: 1rem;
}
.ml2 {
  margin-left: 2rem;
}
.ml3 {
  margin-left: 3rem;
}
.ml4 {
  margin-left: 4rem;
}
.ml5 {
  margin-left: 5rem;
}
/* Margem right */
.mr1 {
  margin-right: 1rem;
}
.mr2 {
  margin-right: 2rem;
}
.mr3 {
  margin-right: 3rem;
}
.mr4 {
  margin-right: 4rem;
}
.mr5 {
  margin-right: 5rem;
}
/* Padding */
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}
.p4 {
  padding: 4rem;
}
.p5 {
  padding: 5rem;
}
/* Padding top */
.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt3 {
  padding-top: 3rem;
}
.pt4 {
  padding-top: 4rem;
}
.pt5 {
  padding-top: 5rem;
}
/* Padding bottom */
.pb1 {
  padding-bottom: 1rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pb5 {
  padding-bottom: 5rem;
}
/* Padding left */
.pl1 {
  padding-left: 1rem;
}
.pl2 {
  padding-left: 2rem;
}
.pl3 {
  padding-left: 3rem;
}
.pl4 {
  padding-left: 4rem;
}
.pl5 {
  padding-left: 5rem;
}
/* Padding right */
.pr1 {
  padding-right: 1rem;
}
.pr2 {
  padding-right: 2rem;
}
.pr3 {
  padding-right: 3rem;
}
.pr4 {
  padding-right: 4rem;
}
.pr5 {
  padding-right: 5rem;
}